
/* activepage.php */
/* style.css */

#active {
    background-color: lightskyblue;
  }
  
  h1 {
    color: #333;
    text-align: center;
  }
  
  h2 {
    color: #666;
    text-align: center;
  }
  





